.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}
.formInput{
    height: 20px;
    margin: 10px 0;
    padding: 10px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.buttonOrder{
    height: 40px;
    color: white;
    background-color: black;
    width: 500px;
    font-weight: 700;
    margin-bottom: 300px;
}